.about {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	color: black;
	position: relative;
	min-height: 18rem;
	padding: 0 2rem;
	gap: 5rem;
}

.about p {
	max-width: 40rem;
}

.about section {
	width: 15rem;
	flex-shrink: 0;
}

.about h2 {
	font-size: 3rem;
	margin: 0;
	text-align: center;
	color: var(--primary-1);
}

.about img {
	height: 15rem;
	position: absolute;
}

.about img:first-child {
	top: 0;
	right: 5rem;
}

.about img {
	top: 2rem;
	right: 10rem;
}

@media (max-width: 760px) {
	.about section {
		display: none;
	}
}
