.booking-form {
	display: flex;
	flex-direction: column;
	gap: 0.2rem;
}

.booking-form :is(label, .submit) {
	margin-top: 1rem;
}

.booking-form :is(input, select) {
	background-color: white;
	border: none;
	padding: 0.5rem;
	border-radius: 1rem;
	font: inherit;
}

.booking-form .submit {
	margin-top: 1.8rem;
	background-color: #fbdabb;
}

.booking-form .error {
	color: rgb(255, 152, 152);
	font-weight: bold;
	margin: 0.5rem 0;
}
