nav {
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	align-items: center;
	justify-content: center;
	gap: 0.5rem 3rem;
	padding: 1rem;
}

header img {
	height: 3.5rem;
	max-width: 20rem;
}

nav ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	border-radius: 2rem;
	list-style: none;
	margin: 0;
	padding: 0;
}

nav a {
	text-decoration: none;
}

nav a:hover {
	text-decoration: underline;
}
