.header-row {
	justify-content: space-between;
	align-items: center;
}

.specials {
	margin: 1rem;
}

.specials h2 {
	color: var(--primary-1);
	font-size: 2rem;
}

.specials-row {
	flex-wrap: wrap;
	justify-content: center;
}
