.testimonials {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	align-items: center;
	background-color: var(--primary-1);
}

.testimonialRow {
	justify-content: center;
	flex-wrap: wrap;
}

.testimonials h2 {
	font-size: 2rem;
}
